.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 15em;
}

.result-wrapper {
  justify-content: center;
}

#dumb-vid {
  text-align: center;
}